<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LA Crime Data Explorer</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src=../static/webapp.js></script>
</head>
<body>

    <a href="index.html" class="back-button">← Back to Index</a>

    <h1>LA Crime Data Explorer</h1>

    <div class="container">
        <div class="sidebar">
            <h2>Filters</h2>
            <button id = "types_button" class="filter-button">Crime Type</button>
            <ul id="types_list"></ul>
            <button id = "areas_button" class="filter-button">Area</button>
            <ul id="areas_list"></ul>
            <button id = "start_dates_button" class="filter-button">Start Date</button>
            <ul id="start_dates_list"></ul>
            <button id = "end_dates_button" class="filter-button">End Date</button>
            <ul id="end_dates_list"></ul>
        </div>
        <div class="main">
            <img src="../static/mockup.jpg" alt="Graph of crimes reported by number over time">
        </div>
    </div>

</body>
</html>