<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Victim Demographics</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <a href="index.html" class="back-button">← Back to Index</a>

    <h1>Victim Demographics</h1>

    <div class="demographics-container">
        <div id = 'age' class = 'demographics-graph'> 
            victim ages
            <img src="../static/mockup21.jpeg" alt="Histogram of victim ages">
        </div>
        <div id = 'sex' class = 'demographics-graph'> 
            victim sex
            <img src="../static/mockup22.jpeg" alt="Pie chart of victim sex">
        </div>
    </div>

</body>
</html>